{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Generosity</h1>
{% endblock %}

{% block page_content %}
    <div class="fundraiser-campaign-info">
        <h3>Progress of our campaign</h3>
        <p>
            {{ fundraiser.balance }} raised by {{ fundraiser.cached_collected_pledges_count }} people
        </p>

        <div class="fundraiser-campaign-progress">
            <div class="fundraiser-progress">
                <div class="fundraiser-bar fundraiser-bar--{{ fundraiser.nearest_five_percent }}">
                    {{ fundraiser.percent_complete }}
                </div>
            </div>

            <a href="https://www.generosity.com/projects/help-roman-and-his-family-to-beat-cancer/contributions/new" target="_blank" class="generosity__donate-button">
                DONATE NOW
            </a>
        </div>

    </div>


    <p>
        One of the easiest way to donate is to use Generosity – crowdfunding platform developed by
        Indiegogo, where we have launched our fundraising campaign. All you need to have is a valid
        bank card and e-mail address.
    </p>
    <p>
        Please note that this platform is secured and all transfers can be made anonymous if desired.
    </p>
    <p>
        The steps are as following:
    </p>
    <ul>
        <li>access the campaign on the website,</li>
        <li>indicate amount you want to donate (you may want to remove option to donate to Generosity, setting this to $0),</li>
        <li>use you bank card.</li>
    </ul>

    <p>Generosity team transfers collected amount to our bank account every 3 weeks.</p>

{% endblock %}


