{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Наша история</h1>
{% endblock %}

{% block page_content %}

    <h2>Дорогие Друзья!</h2>

    <p>
    В сентябре 2016 года нашему Роме был поставлен

    диагноз Саркома Юинга: самая агрессивная и редкая

    саркома, встречающаяся в 1 случае на 3 млн человек

    в Европе. К сожалению, в Молдове эту болезнь не

    лечат. Поэтому Рома вынужден проходить лечение в

    Мюнхене в клинике Rechts der Isar, которая успешно

    занимается лечением рака кости на протяжении

    последних лет.
    </p>

    <p>

    Годовой план лечения, предложенный немецкими

    онкологами, включает в себя следующие этапы:
    </p>
    <ul>
        <li>6 курсов химиотерапии,</li>
        <li>операция и облучение,</li>
        <li>8 курсов химиотерапии.</li>
    </ul>

    <p>
    Также в ходе лечения будут использованы стволовые

    клетки.
    </p>

    <p>
    Роману всего 34 года, он — IT-специалист, человек с

    активной жизненной позицией, а еще — счастливый

    муж и отец маленькой дочки 4х лет.
    </p>

    <p>
    На то, чтобы поправиться, Роману нужно 275,000 евро.

    Именно в такую сумму оценили лечение немецкие

    врачи. Благодаря отзывчивым и не равнодушным

    людям, наша семья собрала 125,000 евро (45 % от

    всей необходимой суммы) за период с сентября по

    ноябрь 2016 года!
    </p>

    <p>
        <img src="/static/photos/bill.jpg" style="float: right" width="320" class="zoom-image" />

        За следующие <b>3 месяца</b> нам необходимо собрать недостающие <b>150,000 евро</b> для того, чтобы лечение
        Ромы не прекращалось и привело к полному выздоровлению.


    </p>


    <p>
    Мы обращаемся к вам с просьбой о помощи - именно

    вы можете помочь спасти нашего Рому! На этом сайте

    мы собрали всю необходимую информацию о

    Роминой истории и способах пожертвований.
    </p>

    <p>
    Самое главное, чтобы хотелось добавить: немецкие

    врачи уверены, что даже несмотря на такое сложное

    лечение, шансы на полное излечение очень высоки,

    Саркома Юинга хорошо поддается лечению! Общими

    усилиями мы можем собрать эту сумму и победить

    болезнь! Деньги не должны быть помехой на пути

    выздоровления Ромы! Давайте дадим шанс Роме быть

    счастливым отцом и мужем!!!
    </p>
    <p>
    Благодарим всех заранее!
    </p>
    <p>
    Семья Ромы
    </p>

    <p>
    Если вы хотите подробнее узнать о том, как можно

    помочь Роману, вы можете написать его жене Ксении

    на:
    </p>

    <p>
        <b>E-mail:</b> ksenia.mokka@gmail.com<br />
        <b>Facebook:</b> <a href="https://www.facebook.com/ksenia.mokka" target="_blank">Ksenia Comaritcaia</a>
    </p>

    <img src="/static/photos/01.jpg" width="100%" />
{% endblock %}


