{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Дорогие Друзья!</h1>
{% endblock %}

{% block page_content %}
    <p>
        В сентябре этого года Роме был поставлен диагноз Саркома Юинга: самая агрессивная и редкая саркома, встречающаяся в 1 случае на 3 млн человек в Европе. К сожалению, в Молдове эту болезнь не лечат. Поэтому Рома вынужден проходить лечение в Мюнхене в клинике Rechts der Isar, которая успешно занимается лечением рака кости на протяжении последних лет.
    </p>
    <p>Годовой план лечения включает в себя следующие этапы:</p>
    <ul>
        <li>6 курсов химиотерапии,</li>
        <li>операция и облучение,</li>
        <li>8 курсов химиотерапии,</li>
        <li>лечение стволовыми клеткам.</li>
    </ul>
    <p>Стоимость лечения 275.000 евро.</p>
    <p>Самое главное - врачи уверены, что даже несмотря на такое сложное лечение, шансы на полное излечение очень высоки! Саркома Юинга хорошо поддается лечению! Общими усилиями мы можем собрать эту сумму и победить болезнь! Деньги не должны быть помехой на пути выздоровления Ромы! Давайте дадим шанс Роме быть счастливым отцом и мужем!!!</p>
    <p>Благодарим всех заранее!</p>
    <p>Семья Ромы.</p>
{% endblock %}


