{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Список банков</h1>
{% endblock %}

{% block page_content %}
<div id="banks-page">
    <div class="bank-country">
        <h2>Молдова</h2>
        <p>
            Если вы находитесь в Молдове или за ее пределами, то один из способов перевести
            деньги на лечение Романа - это сделать банковский перевод или лично посетить
            банковское отделение Mobiasbank в любой точке Молдовы.
        </p>
        <ul>
            <li><a href="bank-mdl.html" class="internal">MDL</a></li>
            <li><a href="bank-eur.html" class="internal">EUR</a></li>
            <li><a href="bank-usd.html" class="internal">USD</a></li>
        </ul>
    </div>

    <div class="bank-country">
        <h2>Россия</h2>
        <p>
            Если вы находитесь в России, вы можете совершить перевод на карту Сбербанка,
            открытую на имя мамы Романа.
        </p>
        <ul>
            <li><a href="bank-rub.html" class="internal">RUB</a></li>
        </ul>
    </div>

    <img src="/static/photos/thanks.jpg" width="100%" />
</div>
{% endblock %}


