{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Fundraising campaign</h1>
{% endblock %}

{% block page_content %}
    <p>
        Balance: {{ fundraiser.balance }}
    </p>
{% endblock %}


