{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>PayPal & WebMoney</h1>
{% endblock %}

{% block page_content %}
    <p>
        Еще несколько быстрых и надежных способов для перевода ваших пожертвований – это PayPal и WebMoney.
    </p>
    <p>
        <b>PayPal:</b> ksenia.mokka@gmail.com<br />
        <b> WebMoney:</b> Z993169239121, E543806775444, R991859667627
    </p>

{% endblock %}


