{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Социальные сети</h1>
{% endblock %}

{% block page_content %}
    <p>
        Для поддержки нашей кампании мы создали ресурсы в социальных сетях, таких как facebook, vkontakte, а также youtube канал где можно посмотреть все ролики про историю Романа
    </p>

    <h2><i class="fa fa-facebook-official"></i> Facebook</h2>
    <p>
        <a href="https://www.facebook.com/groups/1695870430737118/" target="_blank">
            Facebook группа  Спасем Ромку! We Save Roma’s life!
            <i class="fa fa-external-link"></i>
        </a>
    </p>

    <h2><i class="fa fa-vk"></i> VKontakte</h2>
    <p>

        <a href="https://vk.com/wesaveromaslife" target="_blank">
            Группа Vkontakte Спасем Ромку! We Save Roma's Life!
            <i class="fa fa-external-link"></i>
        </a>

    </p>

    <h2><i class="fa fa-youtube-play"></i> YouTube</h2>
    <p>
        <a href="https://www.youtube.com/playlist?list=PLp7TQ6m9LgXU_Yt4Q2GG-Xw9OHKfv6HGs" target="_blank">
            Наш плейлист
            <i class="fa fa-external-link"></i>
        </a>
    </p>


{% endblock %}


