{% extends 'layout.html.twig' %}

{% block nav_links %}
    {#<li><a href="/{{ lang }}/about.html" class="internal">О нас</a></li>#}
    <li><a href="/{{ lang }}/banks.html" class="internal">Информация по банкам</a></li>
    <li><a href="/{{ lang }}/fundraising.html" class="internal">Fundraising</a></li>
    {#<li><a href="/{{ lang }}/paypal.html" class="internal">PayPal</a></li>#}
{% endblock %}
