{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>About Us</h1>
{% endblock %}

{% block page_content %}

    <h2>Dear Friends!</h2>

    <p>
        This September our family has been hit by worrisome
        news - Roma has been diagnosed with Ewing Sarcoma:
        the most aggressive and rare type of sarcoma, the stats
        are 1:3,000,000 to have it. Unfortunately, he cannot
        receive treatment on this type of cancer in his country -
        Republic of Moldova, as it requires a cutting-edge surgery
        &amp; treatment options. Roma is going through treatment in
        Munich in Rechts der Isar Klinikum, that has vast
        experience in treating bone cancers over last decade.
    </p>

    <p>
    The 12th months treatment plan, recommended by
    German oncology team includes following steps:
    </p>

    <ul>
        <li>6 sessions of chemotherapy;</li>
        <li>surgery, followed by radiotherapy;</li>
        <li>8 additional sessions of chemo;</li>
        <li>transfer of stem cells</li>
    </ul>

    <p>
        Roman is only 34 years old, he is IT specialist, a man with
        strong life position. He is also a happy husband and father
        of 4 years daughter.
    </p>

    <p>
        Estimated cost of treatment is EUR 275,000.
    </p>

    <p>
        Thanks to responsive and kind-hearted people our family
        has been able to collect EUR 125,000 (45% of total
        required amount) for the period of September – November
        2016!
    </p>

    <p>
        <input type="checkbox" id="zoom-image__checkbox">
        <label for="zoom-image__checkbox">
            <img src="/static/photos/bill.jpg" width="320" class="zoom-image" />
        </label>

        We now need to collect remaining <b>EUR 150,000</b> for period of <b>3 months</b>
        so that Roman’s treatment continues and lead us to full recovery.
    </p>

    <p>
        We appeal to you for help – you are the ones who can
        help save our Roman!
    </p>

    <p>
        On this website we have collected all respective
        information on Social media and different ways how you
        can donate.
    </p>

    <p>
        The most important thing is that our doctors are confident:
        chances are high even though the treatment complexity is
        high as well! Ewing Sarcoma is very responsive to
        treatment! Money should not stop us to save Roma&#39;s life!
        You are the ones who can help Roman to fight cancer. He
        is the best father and husband! Let’s give Roma
        opportunity to live happy life with his beloved family.
    </p>

    <p>
        Thanks so much for your love, support, and generosity!
    </p>

    <p>
        Roma&#39;s family
    </p>

    <p>
        If you have any questions, please do not hesitate to
        contact Roman’s wife via
    </p>

    <p>
        <b>E-mail:</b> ksenia.mokka@gmail.com<br />
        <b>Facebook:</b> <a href="https://www.facebook.com/ksenia.mokka" target="_blank">Ksenia Comaritcaia</a>
    </p>

    <img src="/static/photos/01.jpg" width="100%" />
{% endblock %}


