{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Dear Friends!</h1>
{% endblock %}

{% block page_content %}
    <p>This September our family has been hit by worrisome news - Roma has been diagnosed with Ewing Sarcoma: the most aggressive and rare type of sarcoma, the stats are 1:3,000,000 to have it. Unfortunately, he cannot receive treatment on this type of cancer in his country Republic of Moldova, as it requires a cutting-edge surgery & treatment options. Roma is going through treatment in Munich in Rechts der Isar Klinikum, that has vast experience in treating bone cancers over last decade.</p>
    <p>The 12th months treatment plan is as following :</p>
    <ul>
        <li>6 sessions of chemotherapy;</li>
        <li>surgery, followed by radiotherapy;</li>
        <li>8 additional sessions of chemo;</li>
        <li>transfer of stem cells;</li>
    </ul>
    <p>Estimated cost of treatment is 275.000 euro.</p>
    <p>The most important thing is that our doctors are confident: chances are high even though the treatment complexity is high as well! Ewing Sarcoma is very responsive to treatment! Money should not stop us to save Roma's life! You are the ones who can help Roman to fight cancer. He is the best father and husband! Let’s give Roma opportunity to live happy life with his beloved family.</p>
    <p>Thanks so much for your love, support, and generosity!</p>
    <p>Roma's family.</p>
{% endblock %}


