{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Bank account details</h1>
{% endblock %}

{% block page_content %}
<div id="banks-page">

    <div class="bank-country">
        <h2>Moldova</h2>
        <p>
            If you are located in Moldova or outside of Moldova one of the options to transfer your
            donation is to make domestic or international bank transfer or personally visit one of the
            Mobiasbank branches in Moldova.
        </p>
        <ul>
            <li><a href="bank-mdl.html" class="internal">MDL</a></li>
            <li><a href="bank-eur.html" class="internal">EUR</a></li>
            <li><a href="bank-usd.html" class="internal">USD</a></li>
        </ul>
    </div>

    <div class="bank-country">
        <h2>Russia</h2>
        <p>
            If you are located in Russia, you can perform RUB transfer to Sberbank account opened by
            Roman’s mother.
        </p>
        <ul>
            <li><a href="bank-rub.html" class="internal">RUB</a></li>
        </ul>
    </div>

    {#<div class="bank-country">#}
        {#<h2>Ukraine</h2>#}
        {#<ul>#}
            {#<li><a href="bank-uah.html" class="internal">UAH</a></li>#}
        {#</ul>#}
    {#</div>#}
</div>
{% endblock %}


