{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Indiegogo</h1>
{% endblock %}

{% block page_content %}
    <p>
        Balance: {{ fundraiser.balance }} from {{ fundraiser.cached_collected_pledges_count }} pledges
    </p>
        <div class="fundraiser-progress">
            <div class="fundraiser-bar fundraiser-bar--{{ fundraiser.nearest_five_percent }}">
                {{ fundraiser.percent_complete }}
            </div>
        </div>
{% endblock %}


