{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Social media</h1>
{% endblock %}

{% block page_content %}
    <p>
        We have created number of resources on all popular social sites to support our fundraising campaign including Facebook, Youtube and Russian VKontakte.
    </p>

    <section class="social-links">
        <a href="https://www.facebook.com/groups/1695870430737118" target="_blank" class="social-link__facebook">
            <i class="fa fa-facebook-official"></i> Facebook
        </a>

        <a href="https://vk.com/wesaveromaslife" target="_blank" class="social-link__vk">
            <i class="fa fa-vk"></i> VKontakte
        </a>

        <a href="https://www.youtube.com/playlist?list=PLp7TQ6m9LgXU_Yt4Q2GG-Xw9OHKfv6HGs" target="_blank" class="social-link__youtube">
            <i class="fa fa-youtube-play"></i> YouTube
        </a>
    </section>

    <img src="/static/photos/clown.jpg" width="100%" vspace="16" />


{% endblock %}


