{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Social media</h1>
{% endblock %}

{% block page_content %}
    <p>
        We have created number of resources on all popular social sites to support our fundraising campaign including Facebook, Youtube and Russian VKontakte.
    </p>

    <h2><i class="fa fa-facebook-official"></i> Facebook</h2>
    <p>
        <a href="https://www.facebook.com/groups/1695870430737118/" target="_blank">
            Facebook group  "Спасем Ромку! We Save Roma’s life!"
            <i class="fa fa-external-link"></i>
        </a>
    </p>

    <h2><i class="fa fa-vk"></i> VKontakte</h2>
    <p>
        <a href="https://vk.com/wesaveromaslife" target="_blank">
            Group VKontakte "Спасем Ромку! We Save Roma's Life!"
            <i class="fa fa-external-link"></i>
        </a>

    </p>

    <h2><i class="fa fa-youtube-play"></i> YouTube</h2>
    <p>
        <a href="https://www.youtube.com/playlist?list=PLp7TQ6m9LgXU_Yt4Q2GG-Xw9OHKfv6HGs" target="_blank">
            Our playlist
            <i class="fa fa-external-link"></i>
        </a>
    </p>


{% endblock %}


