{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Social Media</h1>
{% endblock %}

{% block page_content %}
    <h2>Facebook</h2>
    <p>
        Facebook is a good thing
    </p>
    <h2>YouTube</h2>
    <p>
        Facebook is a good thing
    </p>

    <h2>VKontakte</h2>


{% endblock %}


