{% extends 'main.html.twig' %}

{% block master_header %}
    <h1>Istoria noastră</h1>
{% endblock %}

{% block page_content %}

    <h2>Dragi prieteni!</h2>

    <p>
        În septembrie 2016 Roma a fost diagnosticat cu sarcom Ewing: cel mai agresiv și rar sarcom,
        care apare la 1 din 3 milioane de oameni din Europa. Din păcate, această boală nu este tratată în Moldova.
        Așa că Roma este nevoit  să treacă tratamentul în clinica din München "Rechts der Isar", care a fost implicată
        cu succes in tratamentul cancerului osos în ultimii ani.
    </p>

    <p>
        Planul anual de tratament propus de oncologii germani implică următoarele etape:
    </p>
    <ul>
        <li>6 cicluri de chimioterapie,</li>
        <li>intervenția chirurgicală și iradierea,</li>
        <li>8 cicluri de chimioterapie.</li>
    </ul>

    <p>
        De asemenea, în timpul tratamentului vor fi utilizate celulile stem.
    </p>

    <p>
        Roma are doar 34 de ani, el este un specialist IT, o persoană, cu o poziție activă față de viață, mai este
        și un soț fericit și tatăl fetiței de 4 ani.
    </p>

    <p>
        Pentru recuperare Roman are nevoie de 275.000 de euro. Anume aceasta este suma estimată pentru tratament de
        către medicii germani. Datorită oamenilor neindifirenți  familia noastră a colectat 125.000 de euro
        (45% din suma necesară) pentru perioada cuprinsă între septembrie - noiembrie 2016!

    </p>

    <p>
        <input type="checkbox" id="zoom-image__checkbox">
        <label for="zoom-image__checkbox">
            <img src="/static/photos/bill.jpg" width="320" class="zoom-image" />
        </label>

        Pe parcursul următoarelor <b>3 luni</b>, noi avem nevoie să colectăm <b>150.000 de euro</b> lipsiți,
        ca tratamentul lui Roma să nu se oprească și să ducă la o recuperare completă.
    </p>


    <p>
        Vă scriem pentru a vă cere ajutor - anume Dvs. puteți să-l salvați pe Roma al nostru! Pe acest site am adunat
        toate informațiile necesare despre istoria lui Roma și modalitățile de a face donații.
    </p>

    <p>
        Cel mai important, ce am vrea să adaugăm: medicii germani cred că, necătînd la complexitatea tratamentului,
        șansele de recuperare completă sunt foarte mari, sarcomul Ewing poate fi tratat!
        Împreună putem ridica această sumă și învinge boala! Banii nu ar trebui să fie un
        obstacol în calea recuperării lui Roma! Haideți să-i dăm lui Roma o șansă de a fi un tată și soț fericit !!!
    </p>
    <p>
        Vă mulțumim tuturor anticipat!
    </p>
    <p>
        Familia lui Roma.
    </p>

    <p>
        În cazul dacă doriți să aflați mai multe cum îl puteți ajuta pe Roman, puteți scrie soției lui, Xenia pe:
    </p>

    <p>
        <b>E-mail:</b> ksenia.mokka@gmail.com<br />
        <b>Facebook:</b> <a href="https://www.facebook.com/ksenia.mokka" target="_blank">Ksenia Comaritcaia</a>
    </p>

    <img src="/static/photos/01.jpg" width="100%" />
{% endblock %}


